$background-color: rgb(38, 42, 65);
$dark-color: #000000;
$dark-color-fade: rgba(0, 0, 0, 0.87);
$light-color: #ffffff;
$light-color-fade: rgba(255, 255, 255, 0.67);

$green: rgb(48, 187, 181);
$pink: rgb(249, 53, 169);
$purple: rgb(121, 70, 193);
